<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/css/add_prod.css">
</head>
<body>
     <div th:replace="header :: site_header"></div>


 <div class="container">
    add product name : <input type="text" id="product-name"><br>
    add description : <textarea name="description" id="texti"></textarea><br>
    add stock: <input type="number" id="stock"><br>
    add price : <input type="number" id="price"><br>
    add img : <input type="file" id="prod-img"><br>
    <input type="submit" value="add product" id="submit-btn">
</div>

</body>
</html>