<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/css/add_cate.css">
</head>
<body>
     <div th:replace="~{header :: site_header}"></div>

<main>
<form th:action="@{/admin/catsave}" th:object="${category}" method="post" enctype="multipart/form-data">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    ADD category
  </div>
    <!-- Error Message -->
    <div th:if="${errormsg}" style="color: red;">
        <p th:text="${errormsg}"></p>
<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
    </div>

    <!-- Success Message -->
    <div th:if="${successmsg}" style="color: green;">
        <p th:text="${successmsg}"></p>
<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Enter Category <input type="text" th:field="*{categoryname}" required></li>
    <li class="list-group-item">status <div class="form-check">
  <input class="form-check-input" type="radio" name="isactive" value="true" id="radioDefault1" checked>
  <label class="form-check-label" for="radioDefault1">
    active
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="isactive" value="false" id="radioDefault2" >
  <label class="form-check-label" for="radioDefault2">
 inactive
  </label>
</div></li>
    <li class="list-group-item">upload images <input type="file" name="file" required></li>
  </ul>
<input type="submit" value="save">
</div>
</form>
<!-- /////////////////////// -->
<table class="table" >
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">category name</th>
 <th scope="col">status</th>
      <th scope="col">image</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="cat,c:${categories}">
      <th scope="row">[[${c.count}]]</th>
      <td>[[${cat.categoryname}]]</td>
<td>[[${cat.isactive}]]</td>
      <td><img th:src="@{'/img/category_img/'+${cat.imageName}}" width="50px" height="50px" alt=""></td>
   <td>
  <a th:href="@{'/admin/editthis/'+${cat.id}}" class="btn btn-sm btn-outline-primary" title="Edit">
    <i class="fa-solid fa-pencil"></i>
  </a>
  <a th:href="@{'/admin/deleteCategory/'+${cat.id}}" class="btn btn-sm btn-outline-danger" title="Delete">
    <i class="fa-solid fa-trash-can"></i>
  </a>
</td>

    </tr>

  </tbody>
</table>

</main>
 <div th:replace="header :: site_footer"></div>
</body>
</html>