*{
margin: 0;
padding: 0;
}
h1 {
display: flex;
/* align-items: center; */
justify-content: center;
}
.container{
height: 50vh;
width: 70vw;
border: 1px solid green;
display: flex;
justify-content: space-around;
}
.dash_box{
height: 9vh;
width: 27vw;
border: 1px solid red;
}