<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
 <div th:replace="~{header :: site_header}"></div>
    <div class="container">
<div class="card" style="width: 60vw; height: 50vh; margin: 100px;">
  <img src="/img/appli.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PROD dETAILS</h5>
    <p class="card-text">Some quick example text to build on the card title <br>and make up the bulk of the card’s content.</p>
    <a href="#" class="btn btn-warning">ADD TO CART</a>
  </div>
</div>
</div>

 <!-- <div th:replace="header :: site_footer"></div> -->
</body>
</html>